body {
    background-color: rgb(0, 157, 255) !important;
}

#cardId {
    background-color: green;
    padding: 5vh;
}

#containerId{
    margin-top: 20vh;
}

#beatIconDiv {
      margin-top: 5vh;
      margin-left: 10vw;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: rgb(0, 157, 255);
    border-radius: 50%;
    display: inline-block;
    margin: .5vw;
}

#sound{
    display:none
}